/* FAQComponent.module.css */

.faqContainer {
  background-color: var(--primary-color);
  margin: 0px;
  padding: var(--page-padding);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-bottom: 5rem;
}

.faqContentContainer {
  background-color: var(--background-color);
  padding-top: 24px; 
}

.faqTitle {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--background-color);
  position: relative;
  display: inline-block;
  margin-bottom: 16px; 

}

.faqSubtitle {
  font-size: 1.2rem;
  color: var(--background-color);
  margin-bottom: 16px;
}

.faqItem {
  margin-bottom: 16px; 
  border-radius: 8px; 
  overflow: hidden; 
  border: 1px solid var(--accent-color); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  
}

.question {
  width: 100%;
  text-align: left;
  background: var(--background-color);
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.questionText {
  flex: 1;
  text-align: left;
}

.icon {
  flex: 0 0 24px; /* Fixed width and height for the icon */
}

.answer {
  padding: 10px;
  background: var(--acceent-lighter-color);
  color: var(--text-color);
  font-weight: 400;
  border-top: none;
  font-size: 1.2em;
  display: none;
  text-align: left;
}

.answerOpen {
  display: block; /* Show the answer when open */
  padding: 1rem 2rem;

}
