/* globals.css */

/* Tailwind CSS styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles and variables */

/* Define custom padding size for components */
:root {
  --page-padding: 1.5rem 8rem;
}

/* Define colors and color palette for LIGHT mode */
:root {
  --default-primary-color: #007bff;
  --default-lighter-primary-color: #3399ff; /* Primary color (e.g., links, buttons) */
  --default-secondary-color: #333; /* Secondary color (e.g., headings, borders) */
  --default-background-color: #f8f8f8; /* Light background color for the entire page */
  --default-text-color: #333; /* Dark text color (e.g., body text) */
  --default-accent-color: #ffae00; /* Accent color (e.g., call-to-action) */
}

/* Define colors and color palette for DARK mode */
:root.dark {
  --default-primary-color: #007bff;
  --default-lighter-primary-color: #3399ff; /* Primary color (e.g., links, buttons) */
  --default-secondary-color: #333; /* Secondary color (e.g., headings, borders) */
  --default-background-color: #111; /* Dark background color for the entire page */
  --default-text-color: #fff; /* Light text color (e.g., body text) */
  --default-accent-color: #ffae00; /* Accent color (e.g., call-to-action) */
}

/* Define colors and color palette for ALTERNATE 1 mode */
:root {
  --alternate1-primary-color: #000814; /* Rich Black */
  --alternate1-lighter-primary-color: #001d3d; /* Oxford Blue */
  --alternate1-secondary-color: #003566; /* Yale Blue */
  --alternate1-background-color: #f8f8f8; /* Light background color */
  --alternate1-text-color: #ffc300; /* Dark text color */
  --alternate1-accent-color: #ffd60a; /* Gold */
}

/* Define colors and color palette for DARK mode - ALTERNATE 1 */
:root.dark-alternate1 {
  --alternate1-primary-color: #000814; /* Rich Black */
  --alternate1-lighter-primary-color: #001d3d; /* Oxford Blue */
  --alternate1-secondary-color: #003566; /* Yale Blue */
  --alternate1-background-color: #1a1d29; /* Dark background color */
  --alternate1-text-color: #fff; /* Light text color */
  --alternate1-accent-color: #ffd60a; /* Gold */
}

/* Define colors and color palette for ALTERNATE 2 mode */
:root {
  --alternate2-primary-color: #353535; /* Jet */
  --alternate2-lighter-primary-color: #3c6e71; /* Caribbean Current */
  --alternate2-secondary-color: #ffffff; /* White */
  --alternate2-background-color: #f8f8f8; /* Light background color */
  --alternate2-text-color: #d9d9d9; /* Dark text color */
  --alternate2-accent-color: #284b63; /* Indigo Dye */
}

/* Define colors and color palette for DARK mode - ALTERNATE 2 */
:root.dark-alternate2 {
  --alternate2-primary-color: #353535; /* Jet */
  --alternate2-lighter-primary-color: #3c6e71; /* Caribbean Current */
  --alternate2-secondary-color: #ffffff; /* White */
  --alternate2-background-color: #1a1d29; /* Dark background color */
  --alternate2-text-color: #fff; /* Light text color */
  --alternate2-accent-color: #284b63; /* Indigo Dye */
}

/* Define colors and color palette for ALTERNATE 3 mode */
:root {
  --alternate3-primary-color: #ba1200; /* Engineering Orange */
  --alternate3-lighter-primary-color: #031927; /* Rich Black */
  --alternate3-secondary-color: #9dd1f1; /* Baby Blue */
  --alternate3-background-color: #f8f8f8; /* Light background color */
  --alternate3-text-color: #508aa8; /* Dark text color */
  --alternate3-accent-color: #c8e0f4; /* Columbia Blue */
}

/* Define colors and color palette for DARK mode - ALTERNATE 3 */
:root.dark-alternate3 {
  --alternate3-primary-color: #ba1200; /* Engineering Orange */
  --alternate3-lighter-primary-color: #031927; /* Rich Black */
  --alternate3-secondary-color: #9dd1f1; /* Baby Blue */
  --alternate3-background-color: #1a1d29; /* Dark background color */
  --alternate3-text-color: #fff; /* Light text color */
  --alternate3-accent-color: #c8e0f4; /* Columbia Blue */
}

.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
  /* Add more dark mode styles here */
}
